


@font-face {
    font-family: "MontSerrat";
    src: url("../fonts/montserrat.black.otf");
}


body{
    background-color: #171515;
    color: #fff;    
    font-family: "MontSerrat";
    margin: 0;
    padding: 20px;
}

header{
    background-color: #2b2828;
    padding: 10px;
    text-align: center;
}

header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}



